.App {
  text-align: center;
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}




*, *::before, *::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
